.container{
    background-color: aqua;
    background-image: url('../../assets/img/Background/PageDroite.png');
    margin: auto;
    height: 90vh;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
}

button{
    background-color: transparent; 
    border: 0px;
    margin: 0;
    padding: 0;
}

.direction{
    width: 50px;
    filter: contrast(50%);
}

.imgDirection{
    width: 100%;
}
.imgDirection:hover{
    filter: contrast(50%);
}

#haut{
    grid-column: 6 / span 2;
}
#bas{
    grid-column: 6 / span 2;
    grid-row: 10;
}
#droite{
    grid-column: 12;
    grid-row: 5 / span 2;
}
#gauche{
    grid-row: 5 / span 2;
}

.imgRessources:hover{
    filter: contrast(125%);
}


#source{
    grid-column: 8 / span 4;
    grid-row: 1 / span 10;
    width: 80%;
}
#imgSource{
    width: 100%;
}

#silex{
    grid-column: 1;
    grid-row: 9 / span 2;
}

#riviere{
    grid-column: 2 / span 3;
    grid-row: 4 / span 3;
}

#imgRiviere{
    width: 100%;
}

#truite{
    grid-column: 5 / span 3;
    grid-row: 7 / span 2;
}