<div class="container">
    <a routerLink="/jeu/ne" class="direction" id="haut"><img class="imgDirection" src="../../assets/img/Divers/haut.png" alt=""></a>
    <a routerLink="/jeu/se" class="direction" id="bas"><img class="imgDirection" src="../../assets/img/Divers/bas.png" alt=""></a>
    <a routerLink="/jeu/c" class="direction" id="gauche"><img class="imgDirection" src="../../assets/img/Divers/gauche.png" alt=""></a>
    
    <button id="source" (click)="recolte(23)" *ngIf="objetsRecoltables[23].pv > 0"><img id="imgSource" class="imgRessources recoltable" src="../../assets/img/Ressources/Source.png" alt=""></button>

    <button id="silex" (click)="recolte(24)" *ngIf="objetsRecoltables[24].pv > 0"><img class="imgRessources" src="../../assets/img/Ressources/Silex.png" alt="" id="imgSilex"></button>

    <button id="riviere" (click)="recolte(25)" *ngIf="objetsRecoltables[25].pv > 0"><img class="imgRessources recoltable" src="../../assets/img/Ressources/Riviere.png" alt="" id="imgRiviere"></button>

    <button id="truite" (click)="recolte(26)" *ngIf="objetsRecoltables[26].pv > 0"><img class="imgRessources recoltable" src="../../assets/img/Ressources/Truite.png" alt="" id="imgTruite"></button>
</div>
