<div class="meuble">
    <article class="meuble__article" *ngFor="let meuble of meubles">
        <h2 class="meuble__title">{{meuble.nom}}</h2>
        <img class="meuble__img" src="../../assets/img/Objets/{{meuble.img}}" alt="{{meuble.nom}}">
        <div class="meuble__recette" *ngFor="let recette of meuble.recettes">
            <img class="meuble__ressource" src="../../assets/img/Ressources/{{recette.ressource.img}}" alt="{{recette.ressource.nom}}">
            <p class="meuble__quantite">x{{recette.quantite_necessaire}}</p>
        </div>
    </article>
</div>