<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <button class="navbar__button">
                <img class="navbar__img" src="../../assets/img/Divers/Inventaire.png" alt="Icon de coffre permettant d'ouvrir l'inventaire">
                Inventaire
            </button>
        </li>
        <li class="navbar__item">
            <button class="navbar__button">
                <img class="navbar__img" src="../../assets/img/Divers/LivreRecette.png" alt="Icon de livre permettant d'ouvrir le livre des recettes">
                Recette
            </button>
        </li>
        <li class="navbar__item">
            <button class="navbar__button">
                <img class="navbar__img" src="../../assets/img/Divers/IconCarte.png" alt="Icon de position permettant d'ouvrir la carte">
                Carte
            </button>
        </li>
    </ul>
    <ul class="raccourci">
        <!-- <li><img src="" alt=""></li>
        <li><img src="" alt=""></li> -->
    </ul>
</nav>

