<div id="modalRecette" class="modalRecette">

    <div id="modalOutils" class="modalRecette__onglet">
        <article *ngFor = "let objet of objets">
            <h2>{{objet.nom}}</h2>
        </article>
    </div>
    <!-- <div th:fragment="recetteOutils" >
        <article th:each="outil : ${outils}">
            <h2 th:text="${outil.nom}">Nom de l'outil</h2>
            <div th:each="recette : ${outil.recette}">
                <p th:text="${recette.ressource.nom}">Recette 1</p>
            </div>
            <a th:href="@{singleRecette(id=${outil.id})}">Voir recette</a>
        </article>
    </div> -->
<!-- 
    <div th:fragment="recetteMeubles" id="modalMeuble" class="modalRecette__onglet">
        <article th:each="meuble : ${meubles}">
            <h2 th:text="${meuble.nom}"></h2>
            <div th:each="recette : ${meuble.recette}">
                <p th:text="${recette.ressource.nom}">Recette 1</p>
            </div>
            <a th:href="@{singleRecette(id=${meuble.id})}">Voir recette</a>
        </article>
    </div>

    <div th:fragment="recetteDecos" id="modalDeco" class="modalRecette__onglet">
        <article th:each="deco : ${decorations}">
            <h2 th:text="${deco.nom}"></h2>
            <div th:each="recette : ${deco.recette}">
                <p th:text="${recette.ressource.nom}">Recette 1</p>
            </div>
            <a th:href="@{singleRecette(id=${deco.id})}">Voir recette</a>
        </article>
    </div> -->
</div>
