<div id="box">
  <h2>CONNEXION</h2>
  <form action="" method="get">
    <div>
      <label for="identifiant">Mail</label><br>
      <input type="text" name="identifiant" id="identifiant" required>
    </div>
    <div>
      <label for="password">Mot de passe</label><br>
      <input type="password" id="password" name="password"
              minlength="8" required>
    </div>
    <div id="divReg"><span>Pas encore inscrit ?</span><a id="register" routerLink='/register'>Créer un compte</a></div>
    <button id="submit" type="submit">Se connecter</button>
  </form>
</div>

