<div id="mainDiv">
  <div id="box">
    <h2>CONNEXION</h2>
    <form class="login" action="" method="get">
      <div>
        <label for="pseudo">Pseudo :</label><br>
        <input type="text" name="pseudo" id="pseudo" required>
      </div>
      <div>
        <label for="password">Mot de passe :</label><br>
        <input type="password" id="password" name="password"
               minlength="8" required>
      </div>
      <a routerLink='/register'><span>Pas encore inscrit? Créer un compte</span></a>
      <div id="login">
        <input  type="submit" value="Se connecter">
      </div>
    </form>
  </div>
</div>
