#box{
  background-color: #8C592A;
  border: #99B800 5px solid;
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  flex-direction: column;
  padding: 10px;
  height: fit-content;
  color: #F5F5F5;
}
img{
  width: 20%;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

#divReg{
  font-size: small;
}

#register{
  color: #F5F5F5;
  text-decoration: none;
}

#register:hover{
  color: #99B800;
}

div{
  margin: 10px;
  padding: 5px;
}

input, button{
  background-color: #F5F5F5;
  border: 0;
  height: 1.5rem;
  width: 200px;
  margin-top: 10px;
  border-radius: 20px;
  padding: 2px 10px;
}

#submit{
  color: #F5F5F5;
  background-color: #99B800;
  height: 2rem;
  font-size: larger;
}

span{
  margin-right: 5px;
}

