<!-- <a routerLink="/jeu/no">Map-Nord-Ouest</a>
<a routerLink="/jeu/o">Map-Ouest</a>
<a routerLink="/jeu/so">Map-Sud-Ouest</a>
<a routerLink="/jeu/ne">Map-Nord-Est</a>
<a routerLink="/jeu/e">Map-Est</a>
<a routerLink="/jeu/se">Map-Sud-Est</a> -->
<div id="mainDiv">
  <nav id="top-menu">
    <a routerLink=''><img src="../../assets/img/Divers/maison-ecologique.png" alt="" ></a>
    <span>Nom du Jeu</span>
    <ul>
      <li><a routerLink='register'>Inscription</a></li>
      <li><a routerLink='login'>Connection</a></li>
      <li><a routerLink='acount'>Données du compte</a></li>
    </ul>
  </nav>
</div>
