<div class="map">
    <form class="map__form--pluie" action="#">
        <button><img src="../../assets/img/Ressources/Recoltable/Liquide/Pluie.png"/> </button>
    </form>

    <form class="map__form--lin" action="#">
        <button><img src="../../assets/img/Ressources/Recoltable/Plante/Lin.png"/> </button>
    </form>

    <form class="map__form--eau" action="#">
        <button><img src="../../assets/img/Ressources/Ramassable/Eau.png"/> </button>
    </form>

    <form class="map__form--marbre" action="#">
        <button><img src="../../assets/img/Ressources/Recoltable/Mine/Marbre.png"/> </button>
    </form>
</div>