<div class="map">
    <form class="map__form--pluie" action="#">
        <button><img src="../../assets/Pluie.png"/> </button>
    </form>

    <form class="map__form--lin" action="#">
        <button><img src="../../assets/Lin.png"/> </button>
    </form>

    <form class="map__form--eau" action="#">
        <button><img src="../../assets/Eau.png"/> </button>
    </form>

    <form class="map__form--marbre" action="#">
        <button><img src="../../assets/Marbre.png"/> </button>
    </form>
</div>