<div class="map">

    <a routerLink="/jeu/c" class="direction" id="haut"><img class="imgDirection" src="../../assets/img/Divers/haut.png" alt=""></a>
    <a routerLink="/jeu/se" class="direction" id="droite"><img class="imgDirection" src="../../assets/img/Divers/droite.png" alt=""></a>
    <a routerLink="/jeu/so" class="direction" id="gauche"><img class="imgDirection" src="../../assets/img/Divers/gauche.png" alt=""></a>

    <button id="pluie" (click)="recolte(7)"><img class="imgRessources" src="../../assets/img/Ressources/Recoltable/Liquide/Pluie.png"/> </button>
    <button id="lin" (click)="recolte(8)"><img class="imgRessources" src="../../assets/img/Ressources/Recoltable/Plante/Lin.png"/> </button>
    <button id="eau" (click)="recolte(9)"><img class="imgRessources" src="../../assets/img/Ressources/Ramassable/Eau.png"/> </button>
    <button id="marbre" (click)="recolte(10)"><img class="imgRessources" src="../../assets/img/Ressources/Recoltable/Mine/Marbre.png"/> </button>
  
</div>
