.container{
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    background-image: url('../../assets/img/Background/InterieurMaison.png');
    background-color: #8C592A;
    background-size: 100% 100%; 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-items: center;
    background-repeat: no-repeat;
}

#cadre{
    background-color: transparent;
    border: 0px;
    width: 150px;
    grid-column: 3 / span 2;
    grid-row: 3;
}
#imgCadre{
    width: 100%;
    rotate: 0.1 0.9 1 90deg;
}

#cadre2{
    background-color: transparent;
    border: 0px;
    width: 150px;
    grid-column: 10 / span 2;
    grid-row: 3;
    filter: contrast(50%);
}
#imgCadre2{
    width: 100%;
    rotate: 0.1 0.9 1 -90deg;
}

#imgCadre:hover, #imgCadre2:hover, #imgSol:hover{
    filter: contrast(20%);
}

#sol{
    background-color: transparent;
    border: 0px;
    width: 150px;
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
}
#imgSol{
    width: 100%;
}