.container{
    background-color: aqua;
    background-image: url('../../assets/img/Background/PageHautGauche.png');
    grid-column: 1/ span 12;
    grid-row: 1/ span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

button{
    background-color: transparent; 
    border: 0px;
    margin: 0;
    padding: 0;
}

.direction{
    width: 50px;
    filter: contrast(50%);
}

.imgDirection{
    width: 100%;
}
.imgDirection:hover{
    filter: contrast(70%);
}

#haut{
    grid-column: 6 / span 1;
    grid-row : 1/ span 1;
    align-self: flex-start;
    justify-self: center;
}
#bas{
    grid-column: 6 / span 2;
    grid-row: 5/ span 1;
    align-self: flex-end;
    justify-self: center;

}
#droite{
    grid-column: 12 / span 1;
    grid-row: 3/ span 1;
    align-self: center;
    justify-self: flex-end;
}
#gauche{
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    align-self: center;
    justify-self: flex-start;

}

.imgRessources:hover{
    filter: contrast(125%);
}

#bambou{
    grid-column: 9 / span 3;
    grid-row: 3/ span 2;
}

#paquerette{
    grid-column: 6 / span 2;
    grid-row: 2/ span 1;
}

#brique{
    grid-column: 1 / span 3;
    grid-row: 1/ span 4;
    width: 250px;
}

#imgBrique{
    width: 100%;
}

#carpe{
    grid-column: 10 / span 1;
    grid-row: 1/ span 1;

}


#imgBambou {
    height : 240px; 
}

