<div class="container">
    <a routerLink="/jeu/o" class="direction" id="bas"><img class="imgDirection" src="../../assets/img/Divers/bas.png" alt=""></a>
    <a routerLink="/jeu/n" class="direction" id="droite"><img class="imgDirection" src="../../assets/img/Divers/droite.png" alt=""></a>
    
    <button id="bambou" (click)="recolte(19)"><img id="imgBambou" class="imgRessources" src="../../assets/img/Ressources/Recoltable/Arbre/Bambou.png" alt=""></button>

    <button id="paquerette" (click)="recolte(20)"><img class="imgRessources" src="../../assets/img/Ressources/Ramassable/Paquerettes.png" alt="" id="imgPaquerettes"></button>

    <button id="brique" (click)="recolte(21)"><img class="imgRessources" src="../../assets/img/Ressources/Recoltable/Mine/Brique.png" alt="" id="imgBrique"></button>

    <button id="carpe" (click)="recolte(22)"><img class="imgRessources" src="../../assets/img/Ressources/Recoltable/Poisson/Carpe.png" alt="" id="imgCarpe"></button>
</div>

