<div class="container">
    <a routerLink="/jeu/e" class="direction" id="haut"><img class="imgDirection" src="../../assets/img/Divers/haut.png" alt=""></a>
    <a routerLink="/jeu/s" class="direction" id="gauche"><img class="imgDirection" src="../../assets/img/Divers/gauche.png" alt=""></a>
    
    <button id="chanvre"><img id="imgChanvre" class="imgRessources" src="../../assets/img/Ressources/Recoltable/Plante/Chanvre.png" alt=""></button>

    <button id="coquille"><img class="imgRessources" src="../../assets/img/Ressources/Ramassable/CoquileSaintJacques.png" alt="" id="imgCoquille"></button>

    <button id="jute"><img class="imgRessources" src="../../assets/img/Ressources/Recoltable/Plante/Jute.png" alt="" id="imgJute"></button>

    <button id="brochet"><img class="imgRessources" src="../../assets/img/Ressources/Recoltable/Poisson/Brochet.png" alt="" id="imgBrochet"></button>
</div>
