img{
    width: 50px;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

span{
    margin-left: 10px;
    color: #EEAB00;
    font-size: larger;
}