<div class="container">
    <a routerLink="/jeu/o" class="direction" id="haut"><img class="imgDirection" src="../../assets/img/Divers/haut.png" alt=""></a>
    <a class="direction" id="bas"><img class="imgDirection" src="../../assets/img/Divers/bas.png" alt=""></a>
    <a routerLink="/jeu/s"class="direction" id="droite"><img class="imgDirection" src="../../assets/img/Divers/droite.png" alt=""></a>
    <a class="direction" id="gauche"><img class="imgDirection" src="../../assets/img/Divers/gauche.png" alt=""></a>
    
    <button id="seve" (click)="recolte(11)"><img id="imgSeve" class="imgRessources" src="../../assets/img/Ressources/Seve.png" alt=""></button>

    <button id="bois" (click)="recolte(12)"><img class="imgRessources" src="../../assets/img/Ressources/BoisMort.png" alt="" id="imgBois"></button>

    <button id="schiste" (click)="recolte(13)"><img class="imgRessources" src="../../assets/img/Ressources/Schiste.png" alt="" id="imgSchiste"></button>

    <button id="chene" (click)="recolte(14)"><img class="imgRessources" src="../../assets/img/Ressources/Chene.png" alt="" id="imgChene"></button>
</div>
