<div class="container">
    <a routerLink="/jeu/no" class="direction" id="haut"><img class="imgDirection" src="../../assets/img/Divers/haut.png" alt=""></a>
    <a routerLink="/jeu/so" class="direction" id="bas"><img class="imgDirection" src="../../assets/img/Divers/bas.png" alt=""></a>
    <a routerLink="/jeu/c" class="direction" id="droite"><img class="imgDirection" src="../../assets/img/Divers/droite.png" alt=""></a>
    <a class="direction" id="gauche"><img class="imgDirection" src="../../assets/img/Divers/gauche.png" alt=""></a>

    <button id="diamant" (click)="recolte(15)"><img id="imgDiamant" class="imgRessources" src="../../assets/img/Ressources/Diamant.png" alt=""></button>

    <button id="eau" (click)="recolte(16)"><img class="imgRessources" src="../../assets/img/Ressources/Eau.png" alt="" id="imgEau"></button>

    <button id="champignon" (click)="recolte(17)"><img class="imgRessources" src="../../assets/img/Ressources/Champignon.png" alt="" id="imgChampignon"></button>

    <button id="ebene" (click)="recolte(18)"><img class="imgRessources" src="../../assets/img/Ressources/Ebene.png" alt="" id="imgEbene"></button>
</div>