.map {
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-image: url('../../assets/img/Background/PageHaut.png');
    background-size: cover;
    background-color: aqua;
    background-repeat: no-repeat;
    margin: auto;
    height: 92vh;
}

button {
    background: none;
    border: none;
}

.map__form--mare {
    grid-column: 6/span 5;
    grid-row: 1/span 1;
}

.map__form--coton {
    grid-column: 9/span 2;
    grid-row: 3/span 2;
}

.map__form--coquille {
    grid-column: 7/span 1;
    grid-row: 4/span 1;
}