.map {
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url('../../assets/img/Background/PageAccueil.png');
    background-size: 100% 100%; 
    background-color: aqua;
    background-repeat: no-repeat;
}

.direction{
    width: 50px;
    filter: contrast(50%);
}

.imgDirection{
    width: 100%;
}
.imgDirection:hover{
    filter: contrast(50%);
}

#haut{
    grid-column: 7 / span 2;
}
#bas{
    grid-column: 7 / span 2;
    grid-row: 10 /span 1;
}
#droite{
    grid-column: 13;
    grid-row: 5 / span 2;
}
#gauche{
    grid-row: 5 / span 2;
}

button {
    background: none;
    border: none;
}

#maison {
    grid-column: 2/span 4;
    grid-row: 2/span 7;
}

#maison:hover {
    filter:contrast(150%);
}

#arbre {
    grid-column: 6/span 2;
    grid-row: 2/span 5;
    
}

#poisson {
    grid-column: 9/span 2;
    grid-row: 2/span 1;
}

#silex {
    grid-column: 10/span 1;
    grid-row: 9;
}

#imgMaison {
    height: 430px;
}

#imgArbre {
    height: 300px;
}

.imgRessources:hover{
    filter: contrast(125%);
}

