.map {
    grid-column: 1/span 12;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-image: url('../../assets/PageAccueil.png');
    background-size: cover;
    background-color: aqua;
    background-repeat: no-repeat;
    margin: auto;
    height: 92vh;
}

button {
    background: none;
    border: none;
}

.map__form--maison {
    grid-column: 2/span 4;
    grid-row: 2/span 7;
}

.map__form--arbre {
    grid-column: 6/span 2;
    grid-row: 2/span 5;
}

.map__form--poisson {
    grid-column: 9/span 2;
    grid-row: 2/span 1;
  }

.map__image--maison {
    height: 430px;
}

.map__image--arbre {
    height: 300px;
}